<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.apache.kafka" level="ERROR"/>
    <logger name="kafka" level="ERROR"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="general" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy.MM.dd HH:mm:ss SSS Z} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="general"/>
    </root>
</configuration>